*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  
  line-height:30px;
  font-family: 'Noto Sans JP', sans-serif;
}
button{
  background-color: rgb(3, 3, 53);
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px;
  outline: none;
  color: white;
  margin: 10px;
  border: rgb(3, 3, 53);
}
label{
  display: inline-block;
  color: white;
}
input,select,textarea{
  border: 3px solid navy;
  outline-color:yellow;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}


@media (max-width:960px){
  
.main-container{
  flex-direction: column;
}
.form-container{
 flex-direction: column;
  
}

.header-container{
  flex-direction: column;
}
.navbar-brand{
border: 2px solid white;
}

input,select,textarea{
  border-radius: 3px;
  outline-color: navy;
  cursor: pointer;
  margin: 10px;
  padding: 7px;
  font-size: 15px;
  font-weight: 500;
}
}
