*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  opacity: 0.75;
  text-decoration: none;
}

body{
  line-height:30px;
  font-family:  Helvetica, sans-serif;
}
/*font-family: 'Noto Sans JP', sans-serif;*/
button{
  background-color: rgb(5, 5, 150);
  border-radius: 3px;
  text-transform: uppercase;
  padding: 12px;
  outline: none;
  color: white;
  margin: 10px;
  border: rgb(3, 3, 53);
}
button:hover{
  opacity: 0.75;
}
label{
  display: inline-block;
  color: white;
}
input,select,textarea{
  border:none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: 10px;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
}


@media (max-width:768px){
input,select,textarea{
  border-radius: 3px;
  outline-color: navy;
  cursor: pointer;
  margin: 10px;
  padding: 7px;
  font-size: 15px;
  font-weight: 500;
}
}
