.footer-link a{
    text-decoration: none;
    padding: 10px;
    color: rgb(13,13,53);
    margin-left:5px;
}

footer{
    background-color: yellow;
    color: white;
    padding: 30px;
  }
  .navlinks{
        display: inline-block;
        padding: 0px 10px;
        margin: 10px;
        list-style-type: none;
      
    
  }